@import '../../styles/abstracts';

.order-header-wrapper {
    text-align: center;
    margin: 2rem 0;
}

.item-container {
    @include flex-column;
    justify-content: space-around;
    padding: 1rem 1rem;
    .order-item {
        margin: 1rem auto;
        width: 18rem;
        @include create-flex-container(100%);
    }
}

@media screen and (min-width: resolution("mobile")){
    .item-container {
        flex-direction: row;
        .order-item {
            @include create-flex-container(75%);
        }
    }
}

@media screen and (min-width: resolution("wide-mobile")){

    .item-container { 
        .order-item { 
            @include create-flex-container(60%);
        }
    }
}

@media screen and (min-width: resolution("tablet")){

    .item-container { 
        .order-item { 
            @include create-flex-container(45%);
        }
    }
}

@media screen and (min-width: resolution("laptop")){

    .item-container { 
        .order-item { 
            @include create-flex-container(30%);
        }
    }
}