@import '../../styles/abstracts';

.order-header-wrapper {
    text-align: center;
    margin: 2rem 0;
}

.error-alert {
    text-align: center;
    width: 95%;
    margin: 4rem auto;
}

#menu-header-title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

.item-container {
    @include flex-column;
    justify-content: space-around;
    padding: 1rem 1rem;
    .section-title {
        @include create-flex-container(100%);
        font-size: 2rem;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    .section-row {
        @include flex-row;
        .order-item {
            @include create-flex-container(100%);
            @include centered(1rem);
            width: 10rem;
        }
    }
}

@media screen and (min-width: resolution("mobile")){
    .item-container {
        flex-direction: row;
        .section-row {
            .order-item {
                @include create-flex-container(75%);
            }
        }
    }

    .error-alert {width: 75%;}
}

@media screen and (min-width: resolution("wide-mobile")){

    .item-container { 
        .section-title { font-size: 2.5rem }
        .section-row {
            .order-item { 
                @include create-flex-container(60%);
            }
        }
    }
    #menu-header-title {font-size: 2.5rem;}
}

@media screen and (min-width: resolution("tablet")){

    .item-container { 
        .section-title { font-size: 3rem }
        .section-row {
            .order-item { 
                @include create-flex-container(45%);
            }
        }
    }
    #menu-header-title {font-size: 3rem;}
    .error-alert {width: 50%;}
}

@media screen and (min-width: resolution("laptop")){

    .item-container { 
        .section-title { font-size: 5rem }
        .section-row {
            .order-item { 
                @include create-flex-container(30%);
            }
        }
    }
    #menu-header-title {font-size: 5rem;}
    .error-alert {width: 35%;}
}