@import '../../styles/abstracts';

.order-header-wrapper {
    text-align: center;
    margin: 2rem 0;
}

.error-alert {
    text-align: center;
    width: 95%;
    margin: 4rem auto;
}

#menu-header-title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

.menu-item-img {
    height: 200px;
    width: 100%;
    overflow: auto;
    background-color: lightgrey;
    img {
        height: 100%;
        width: 100%;
        max-width: 100%;
    }
}

.tabs-row {
    @include flex-row;
    margin-bottom: 2rem;
    justify-content: center;
    .nav-link { color: white;}
}

.item-container {
    @include flex-column;
    justify-content: space-around;
    padding: 1rem 1rem;
    .section-title {
        @include create-flex-container(100%);
        font-size: 2rem;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    .section-row {
        @include flex-row;
        flex: 0 0 100%;
        .order-item {
            @include create-flex-container(100%);
            @include centered(1rem);
            width: 10rem;
            color: $CARD-TEXT-COLOR;
            .button-container {
                margin: .5rem auto 1rem auto;
                width: 75%;
            }
            .expanded-container {
                margin: .5rem auto 1rem auto;
                width: 100%;
            }
        }
    }
    .tab-content {
        width: 100%
    }
}

.noshow-div {
    @include gray-div(200px);
}


@media screen and (min-width: 260px){
    .item-container {
        .section-row {
            .order-item {
                max-width: 240px;
                width: 240px;
                min-width: 240px;
            }
        }
    }
    .menu-item-img, .noshow-div {
        height: 180px;
    }
}

@media screen and (min-width: resolution("extra-small")){
    .item-container {
        .section-row {
            .order-item {
                max-width: 320px;
                width: 320px;
                min-width: 320px;
            }
        }
    }
    .menu-item-img, .noshow-div {
        height: 240px;
    }
}

@media screen and (min-width: resolution("mobile")){
    .item-container {
        flex-direction: row;
        .section-row {
            .order-item {
                @include create-flex-container(75%);
                max-width: 350px;
                width: 350px;
                min-width: 350px;
            }
        }
    }

    .menu-item-img, .noshow-div {
        height: 262px;
    }
    .error-alert {width: 75%;}
}

@media screen and (min-width: resolution("wide-mobile")){

    .item-container { 
        .section-title { font-size: 2.5rem }
        .section-row {
            .order-item { 
                max-width: 300px;
                width: 300px;
                min-width: 300px;
                @include create-flex-container(60%);
            }
        }
    }

    #menu-header-title {font-size: 2.5rem;}

    .menu-item-img, .noshow-div {
        height: 225px;
    }
}

@media screen and (min-width: resolution("tablet")){

    .item-container { 
        .section-title { font-size: 3rem }
        .section-row {
            .order-item { 
                @include create-flex-container(30%);
                .button-container {
                    width: 50%;
                }
            }
        }
    }
    #menu-header-title {font-size: 3rem;}
    .error-alert {width: 50%;}
}

@media screen and (min-width: resolution("laptop")){

    .item-container { 
        .section-title { font-size: 5rem }
        .section-row {
            .order-item { 
                @include create-flex-container(30%);
            }
        }
    }
    #menu-header-title {font-size: 5rem;}
    .error-alert {width: 35%;}
}

@media screen and (min-width: resolution("desktop")){
    .item-container { 
        .section-row {
            justify-content: center;
            .order-item { 
                @include create-flex-container(25%);
                margin: 2rem;
            }
        }
    }
}