@import './variables';

@function resolution($size){
    @return map-get($resolution-names, $size);
}

@mixin create-flex-container($width){
    flex: 0 0 $width;
    -ms-flex: 0 0 $width;
    width: $width;
}

@mixin flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@mixin centered($vertical-margin: 0){
    margin: $vertical-margin auto;
}

@mixin height-adjusted($height) {
    height: $height;
}

@mixin width-adjusted($width) {
    width: $width;
}

@mixin gray-div($size, $width-optional: false){
    height: $size;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    @if ($width-optional == true) {
        width: calc(#{$size} * 4 / 3)
    }
}

@mixin four-over-three-aspect($height){
    height: $height;
    width: calc(#{$height} * 4 / 3);
    max-width: calc(#{$height} * 4 / 3);
    min-width: calc(#{$height} * 4 / 3);
}

@mixin card-footer-box($width) {
    min-height: 38px;
    max-height: 38px;
    margin: .5rem auto 1rem auto;
    width: $width;
}

@mixin position-t-b-l-r($top: null,  $bottom: null, $left: null, $right: null) {
    @if ($top != null) { top: $top }
    @if ($bottom != null) { bottom: $bottom }
    @if ($left != null) { left: $left }
    @if ($right != null) { right: $right }
}

@mixin create-box-shadow($radius, $color) {
    box-shadow: 0 0 $radius $color;
    -moz-box-shadow: 0 0 $radius $color;
}