@import './variables';

@function resolution($size){
    @return map-get($resolution-names, $size);
}

@mixin create-flex-container($width){
    flex: 0 0 $width;
    -ms-flex: 0 0 $width;
    width: $width;
}

@mixin flex-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@mixin centered($vertical-margin: 0){
    margin: $vertical-margin auto;
}

@mixin height-adjusted($height) {
    height: $height;
}

@mixin width-adjusted($width) {
    width: $width;
}