@import './abstracts';

.centered-danger-message {
    text-align: center;
    color: red;
}

.padding-adjusted-icon {
    padding-top: 2px;
    height: 38px;
}

.incrementer-sized {
    padding: 3px 4px 3px 4px;
    line-height: .7rem;
}

.noshow-div {
    @include gray-div(250px);
}