
$main-text-color: white;
$inactive-link-color: hsla(0,0%,100%,.55);
$active-link-color: #fff;

$TEXT-NO-DEC: none;

$resolution-names: (
    "mobile": 500px,
    "wide-mobile": 610px,
    "tablet": 768px,
    "laptop": 992px,
    "desktop": 1200px
);