
$main-text-color: white;
$inactive-link-color: hsla(0,0%,100%,.55);
$active-link-color: #fff;

$TEXT-NO-DEC: none;
$CARD-TEXT-COLOR: black;

$TEXT-CENTERED: center;

$resolution-names: (
    "extra-small": 360px,
    "mobile": 500px,
    "wide-mobile": 610px,
    "tablet": 768px,
    "laptop": 992px,
    "desktop": 1200px
);