@import '../../styles/abstracts';

.home-input-container {
    @include flex-column;
    text-align: start;
    padding: 12px;
    justify-content: space-between;
    margin: 1rem 0;
}

.home-description-display {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: inherit;
    flex: 0 0 60%;
    margin-top: 1rem;
    align-content: flex-start;
    word-break: break-all;
    word-wrap: break-word;
}

.home-links-input {
    word-break: break-all;
    margin-top: .5rem;
 }

.background-photo-container {
    background-color: darkgray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#restaurant-name {
    @include flex-row;
    @include position-t-b-l-r(8px, null, 0, null);
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    h1 {
        margin-right: .5rem;
    }
     @media screen and (max-width: 500px){
        position: static;
        @include position-t-b-l-r(0, null, 0, null);
        margin: 1rem 0;
    }
}

.route-button-container {
    @include flex-row;
    justify-content: center;
    width: 100%;
    @media screen and (max-width: 300px) {
        width: 80%;
    }
}

.widescreen-button-container {
    position: absolute;
    top: 75%;
}

.pulsating-button {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        @include create-box-shadow(0, white);
    }
    70% {
        @include create-box-shadow(20px, white);
    }
    100% {
        @include create-box-shadow(0, white);
    }
  }

/************* Built in styles needed ********************/
.font-Arial { font-family: Arial, Helvetica, sans-serif;}
.font-Tahoma { font-family: Tahoma, Verdana, sans-serif;}
.font-Verdana { font-family: Verdana, sans-serif;}
.font-Helvetica { font-family: Helvetica, Arial, sans-serif;}
.font-Tebuchet_MS { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.font-Times_New_Roman { font-family: 'Times New Roman', Times, serif;}
.font-Georgia { font-family: Georgia, 'Times New Roman', Times, serif;}
.font-Courier_New { font-family: 'Courier New', Courier, monospace}
.font-Garamond { font-family: Garamond, serif}
.font-Brush_Script_MT { font-family: Brush Script MT, cursive;}

.weight-100 { font-weight: 100; }
.weight-200 { font-weight: 200; }
.weight-300 { font-weight: 300; }
.weight-400 { font-weight: 400; }
.weight-500 { font-weight: 500; }
.weight-600 { font-weight: 600; }
.weight-700 { font-weight: 700; }
.weight-800 { font-weight: 800; }
.weight-900 { font-weight: 900; }

.height-16px { font-size: 16px; }
.height-32px { font-size: 32px; }
.height-48px { 
    font-size: 24px; 
    @media screen and (min-width: 415px){
        font-size: 40px; 
    }
    @media screen and (min-width: resolution("mobile")){
        font-size: 48px; 
    }
}
.height-64px { 
    font-size: 24px; 

    @media screen and (min-width: 415px){
        font-size: 40px; 
    }

    @media screen and (min-width: resolution("mobile")){
        font-size: 58px; 
    }

    @media screen and (min-width: 600px){
        font-size: 64px; 
    }
}
.height-80px { 
    font-size: 24px; 
    @media screen and (min-width: 415px){
        font-size: 40px; 
    }
    @media screen and (min-width: resolution("mobile")){
        font-size: 58px; 
    }
    @media screen and (min-width: 600px){
        font-size: 64px; 
    }
    @media screen and (min-width: resolution("tablet")){
        font-size: 80px; 
    }
}


/*************** Uncontrolled queries **********************/
@media screen and (max-height: 460px) {
    .background-photo-container {
        justify-content: flex-start;
        height: 150vh
    }
    #restaurant-name {
        position: static;
        @include position-t-b-l-r(0, null, 0, null);
        margin: 1rem 0;
    }
}

/****************** Controlled width queries *************************/
@media  screen and (min-width: resolution("mobile")){
    .background-photo-container {
        height: calc(100vh - 56px);
        justify-content: center;
    }
    .home-description-display {
        margin-right: 3%;
    }
}

@media screen and (min-width: resolution("tablet")) {
    .home-input-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .home-links-input {
        @include create-flex-container(30%);
    }
}