@import '../../styles/abstracts';

.form-control-error {
    border-color: #FF0000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(158, 105, 105, 0.6) !important;
}

.status-message {
    margin: 1rem auto 0 auto;
    text-align: center;
    width: 100%;
}

.receipt-container {
    @include flex-row;
    justify-content: space-between;
    .receipt-item {
        @include create-flex-container(70%);
        text-align: start;
    }
    .receipt-price {
        @include create-flex-container(25%);
        text-align: end;
    }
    .receipt-footer {
        text-align: end;
    }
}

.new-order-button-container {
    display: flex;
    .new-order-button {
        @include centered(1rem);
        width: 50%;
    }
}

@media screen and (max-width: resolution("extra-small")){
    .new-order-button-container {
        .new-order-button {
            width: 75%;
        }
    }
}

@media screen and (min-width: resolution("mobile")){
    .status-message {
        width: 75%;
    }
}