@import '../../styles/abstracts';

.form-control-error {
    border-color: #FF0000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(158, 105, 105, 0.6) !important;
}

.status-message {
    margin: 1rem auto 0 auto;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: resolution("mobile")){
    .status-message {
        width: 75%;
    }
}