@import '../../styles/abstracts.scss';

.navigation-link {
    color: $inactive-link-color;
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    text-decoration: $TEXT-NO-DEC;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-radius: 10px;

    &:active {
        color: $active-link-color;
    }
    
    &:hover {
        background-color: orange;
    }
}

.cart-nav, .cart-count-sub, .nav-cart-container {
    a {
        text-decoration: $TEXT-NO-DEC !important;
    }
    text-decoration: $TEXT-NO-DEC
}

.title-loading-span {
    width: 200px;
    background-color: lightgrey;
    height: 25px;
}