@import './styles/variables.scss';
@import './styles/styles';

.App {
  text-align: center;
  justify-content: center;
  color: $main-text-color;
}

.loading-cart-from-server-spinner {
  width: 75%;
  max-width: 300px;
}

.loading-cart-from-server-container {
  display: flex;
  justify-content: center;

  animation: lds-grid 1.2s linear infinite;

  // source -> https://loading.io/css/
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
  }
}